<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neuralnetwork.holidaycalendar2022">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolidayCalendar2022">
        <activity
            android:name=".presentation.activities.December"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.November"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.October"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.September"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.August"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.July"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.June"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.May"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.April"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.March"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.February"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.January"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan1"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan2"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan3"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan4"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan5"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan6"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan7"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan8"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan9"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan10"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan11"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan12"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan13"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan14"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan15"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan16"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan17"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan18"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan19"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan20"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan21"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan22"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan23"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan24"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan25"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan26"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan27"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan28"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan29"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan30"
            android:exported="true" />
        <activity
            android:name=".tasksjan.tasksjan31"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb1"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb2"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb3"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb4"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb5"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb6"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb7"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb8"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb9"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb10"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb11"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb12"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb13"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb14"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb15"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb16"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb17"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb18"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb19"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb20"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb21"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb22"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb23"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb24"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb25"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb26"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb27"
            android:exported="true" />
        <activity android:name=".tasksfeb.tasksfeb28"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar1"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar2"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar3"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar4"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar5"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar6"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar7"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar8"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar9"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar10"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar11"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar12"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar13"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar14"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar15"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar16"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar17"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar18"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar19"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar20"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar21"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar22"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar23"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar24"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar25"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar26"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar27"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar28"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar29"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar30"
            android:exported="true" />
        <activity android:name=".tasksmar.tasksmar31"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr1"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr2"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr3"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr4"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr5"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr6"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr7"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr8"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr9"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr10"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr11"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr12"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr13"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr14"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr15"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr16"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr17"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr18"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr19"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr20"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr21"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr22"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr23"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr24"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr25"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr26"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr27"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr28"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr29"
            android:exported="true" />
        <activity android:name=".tasksapr.tasksapr30"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay1"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay2"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay3"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay4"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay5"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay6"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay7"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay8"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay9"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay10"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay11"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay12"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay13"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay14"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay15"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay16"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay17"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay18"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay19"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay20"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay21"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay22"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay23"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay24"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay25"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay26"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay27"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay28"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay29"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay30"
            android:exported="true" />
        <activity android:name=".tasksmay.tasksmay31"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun1"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun2"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun3"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun4"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun5"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun6"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun7"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun8"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun9"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun10"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun11"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun12"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun13"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun14"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun15"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun16"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun17"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun18"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun19"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun20"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun21"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun22"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun23"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun24"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun25"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun26"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun27"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun28"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun29"
            android:exported="true" />
        <activity android:name=".tasksjun.tasksjun30"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul1"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul2"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul3"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul4"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul5"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul6"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul7"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul8"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul9"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul10"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul11"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul12"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul13"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul14"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul15"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul16"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul17"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul18"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul19"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul20"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul21"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul22"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul23"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul24"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul25"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul26"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul27"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul28"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul29"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul30"
            android:exported="true" />
        <activity android:name=".tasksjul.tasksjul31"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug1"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug2"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug3"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug4"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug5"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug6"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug7"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug8"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug9"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug10"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug11"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug12"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug13"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug14"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug15"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug16"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug17"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug18"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug19"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug20"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug21"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug22"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug23"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug24"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug25"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug26"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug27"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug28"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug29"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug30"
            android:exported="true" />
        <activity android:name=".tasksaug.tasksaug31"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep1"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep2"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep3"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep4"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep5"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep6"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep7"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep8"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep9"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep10"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep11"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep12"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep13"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep14"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep15"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep16"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep17"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep18"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep19"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep20"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep21"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep22"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep23"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep24"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep25"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep26"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep27"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep28"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep29"
            android:exported="true" />
        <activity android:name=".taskssep.taskssep30"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct1"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct2"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct3"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct4"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct5"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct6"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct7"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct8"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct9"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct10"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct11"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct12"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct13"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct14"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct15"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct16"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct17"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct18"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct19"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct20"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct21"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct22"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct23"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct24"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct25"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct26"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct27"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct28"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct29"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct30"
            android:exported="true" />
        <activity android:name=".tasksoct.tasksoct31"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov1"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov2"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov3"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov4"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov5"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov6"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov7"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov8"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov9"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov10"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov11"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov12"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov13"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov14"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov15"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov16"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov17"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov18"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov19"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov20"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov21"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov22"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov23"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov24"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov25"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov26"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov27"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov28"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov29"
            android:exported="true" />
        <activity android:name=".tasksnov.tasksnov30"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec1"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec2"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec3"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec4"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec5"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec6"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec7"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec8"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec9"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec10"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec11"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec12"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec13"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec14"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec15"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec16"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec17"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec18"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec19"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec20"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec21"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec22"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec23"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec24"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec25"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec26"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec27"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec28"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec29"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec30"
            android:exported="true" />
        <activity android:name=".tasksdec.tasksdec31"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>